<p id="notice"><%= notice %></p>

<h1 class="container">Lista de tareas</h1>

<table class="table">
  <thead>
    <tr>
      <th>nombre</th>
      <th>Estado</th>
      <th>Usuario</th>
      <th>Proyecto</th>
      <th>Opciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.state %></td>
        <td><%= task.user %></td>
        <td><%= task.proyect %></td>
        <td><%= link_to 'detalle', task %>
        <%= link_to 'editar', edit_task_path(task) %>
        <%= link_to 'borrar', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
