<p id="notice"><%= notice %></p>

<h1 class="container"> Lista de Proyectos</h1>

<table class="table">
  <thead>
    <tr>
      <th>nombre</th>
      <th>Usuario</th>
      <th>tareas pendientes</th>
      <th>Opciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyects.each do |proyect| %>
      <tr>
        <td><%= link_to proyect.name, proyect %></td>
        <td><%= proyect.user.to_s %></td>
      
        <td><%= proyect.tasks.pendiente.count %></td>
        
        <td><%= link_to 'detalle', proyect %> 
        <%= link_to ' Editar', edit_proyect_path(proyect) %>
        <%= link_to ' Borrar', proyect, method: :delete, data: { confirm: 'Estas seguro ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h5 class="container">  <%= link_to 'Nuevo proyecto', new_proyect_path %> </h3>
