<p id="notice"><%= notice %></p>


<p><strong>name:</strong>
<%= @proyect.name %></p>
<p>
  <strong>User:</strong>
	<%= @proyect.user %>
</p>

<%= link_to 'Edit', edit_proyect_path(@proyect) %> |
<%= link_to 'Back', proyects_path %>
